@{
    ViewBag.Title = "Login";
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>JqD</title>

</head>
<body onkeydown="onReturn();">
    <div class="container">
        <header>
            <h1>Custom <strong>Login Form</strong> Styling</h1>
            <h2>Creative and modern form design with CSS magic</h2>
            <div class="support-note">
                <span class="note-ie">Sorry, only modern browsers.</span>
            </div>
        </header>
        <section class="main">
            <form class="form-3">
                <p class="clearfix">
                    <label for="userName">Username</label>
                    <input type="text" name="userName" id="userName" placeholder="Username">
                </p>
                <p class="clearfix">
                    <label for="password">Password</label>
                    <input type="password" name="password" id="password" placeholder="Password">
                </p>
                <p class="clearfix">
                    <input type="checkbox" name="remember" id="remember">
                    <label for="remember">Remember me</label>
                </p>    
                <p class="clearfix">
                    <div>
                        <a ><input type="reset" id="submit" name="submit" value="Sign in" class="dl_button" /></a>
                    </div>
                </p>
            </form>
        </section>
    </div>
</body>
</html>

<link href="~/Content/Common/font-awesome.css" type="text/css" rel="stylesheet" />
<link href="~/Content/Common/style.css" type="text/css" rel="stylesheet" />
<link href="~/Content/Common/demo.css" type="text/css" rel="stylesheet" />
<link href="~/Content/Common/Login.css" type="text/css" rel="stylesheet" />
<script src="~/Scripts/jquery-1.12.4.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/js.cookie-2.1.4.min.js"></script>
<script>
    $(document).ready(function () {
        //若存在Cookie，显示用户名
        var currentJqdLoginNameCookie = Cookies.get('JqDLoginName');
        if (currentJqdLoginNameCookie !== null && currentJqdLoginNameCookie !== undefined) {
            $("#userName").val(currentJqdLoginNameCookie);
        }

        $("#submit").on("click", function () {
            var name = $("#userName").val();
            const password = $("#password").val();
            if (name === '') {
                $("#userName").focus();
                return;
            }
            if (password === '') {
                $("#password").focus();
                return;
            }
            //记住登录名
            if (currentJqdLoginNameCookie === null || currentJqdLoginNameCookie === undefined) {
                Cookies.set('JqDLoginName', name);
            }
            $("#submit").attr("disable", "");
            $.ajax({
                url: '@Url.Content("~/")' + "Authentication/Login",
                method: 'POST',
                data: { UserName: name, Password: password },
                dataType: 'json'
            }).done(function (result) {
                if (result.Success === true) {
                    window.location.href = '/';
                } else {
                    $("#password").value("");
                    $("#userName").focus();
                }
            });
        });
    });

    //回车时，默认是登陆
    function onReturn() {
        if (window.event.keyCode === 13) {
            if (document.all('submit') !== null) {
                document.all('submit').click();
            }
        }
    }
</script>
