@using System.Diagnostics
@{
    Debug.Assert(Request.Url != null, "Request.Url != null");
    var requestUrl = Request.Url.ToString();
}
<div id="cssmenu" class="align-center">
    <ul class="top_menu">
        <li class="active Home"><a href="@Url.Action("Index", "Home")"><span>Home</span></a></li>
        <li class="has-sub Blog">
            <a href="javascript:void(0)"><span>Blog</span></a>
            <ul>
                <li class="has-sub">
                    <a><span>Work</span></a>
                    <ul>
                        <li><a href="@Url.Action("Index", "Work")"><span>Work</span></a></li>
                    </ul>
                </li>
                <li class="has-sub">
                    <a><span>Life</span></a>
                    <ul>
                        <li><a href="javascript:void(0)"><span>Life</span></a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li class="SystemUser"><a href="@Url.Action("Index", "SystemUser")"><span>System</span></a></li>
    </ul>
</div>
<header>
    <div class="logo">
        <a href="#"><img src="/images/Style/logo.png" alt="" /></a>
    </div>
</header>
<script type="text/javascript">
    var requestUrl = '@requestUrl'.split("/").pop();
    if (requestUrl === "") {
        requestUrl = "Home";
    }
    else if (requestUrl.indexOf("SystemUser")>-1) {
        requestUrl = "SystemUser";
    }
    else {
        requestUrl = "Blog";
    }
    $(".top_menu > li").removeClass("active");
    $(`.${requestUrl}`).addClass("active");
</script>