@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="owl-slide" class="owl-carousel">
    <div class="item">
        <img src="/images/Style/slider-1.jpg" />
        <div class="carousel-caption">
            <div class="carousel-caption-inner">
                <p class="carousel-caption-title"><a href="#">Why It’s Important To Struggle</a></p>
                <p class="carousel-caption-category">
                    <a href="#" rel="category tag">Business</a>,
                    <a href="#" rel="category tag">Lifestyle</a>, <a href="#" rel="category tag">Pursuits</a>
                </p>
            </div>
        </div>
    </div>
    <div class="item">
        <img src="/images/Style/slider-2.jpg" />
        <div class="carousel-caption">
            <div class="carousel-caption-inner">
                <p class="carousel-caption-title"><a href="#">Why It’s Important To Struggle</a></p>
                <p class="carousel-caption-category">
                    <a href="#" rel="category tag">Business</a>,
                    <a href="#" rel="category tag">Lifestyle</a>, <a href="#" rel="category tag">Pursuits</a>
                </p>
            </div>
        </div>
    </div>
    <div class="item">
        <img src="/images/Style/slider-3.jpg" />
        <div class="carousel-caption">
            <div class="carousel-caption-inner">
                <p class="carousel-caption-title"><a href="#">Why It’s Important To Struggle</a></p>
                <p class="carousel-caption-category">
                    <a href="#" rel="category tag">Business</a>,
                    <a href="#" rel="category tag">Lifestyle</a>, <a href="#" rel="category tag">Pursuits</a>
                </p>
            </div>
        </div>
    </div>
    <div class="item">
        <img src="/images/Style/slider-4.jpg" />
        <div class="carousel-caption">
            <div class="carousel-caption-inner">
                <p class="carousel-caption-title"><a href="#">Why It’s Important To Struggle</a></p>
                <p class="carousel-caption-category">
                    <a href="#" rel="category tag">Business</a>,
                    <a href="#" rel="category tag">Lifestyle</a>, <a href="#" rel="category tag">Pursuits</a>
                </p>
            </div>
        </div>
    </div>
    <div class="item">
        <img src="/images/Style/slider-5.jpg" />
        <div class="carousel-caption">
            <div class="carousel-caption-inner">
                <p class="carousel-caption-title"><a href="#">Why It’s Important To Struggle</a></p>
                <p class="carousel-caption-category">
                    <a href="#" rel="category tag">Business</a>,
                    <a href="#" rel="category tag">Lifestyle</a>, <a href="#" rel="category tag">Pursuits</a>
                </p>
            </div>
        </div>
    </div>
    <div class="item">
        <img src="/images/Style/slider-6.jpg" alt=""/>
        <div class="carousel-caption">
            <div class="carousel-caption-inner">
                <p class="carousel-caption-title"><a href="#">Why It’s Important To Struggle</a></p>
                <p class="carousel-caption-category">
                    <a href="#" rel="category tag">Business</a>,
                    <a href="#" rel="category tag">Lifestyle</a>, <a href="#" rel="category tag">Pursuits</a>
                </p>
            </div>
        </div>
    </div>
</div>
<div id="container">
    <div class="wrap-container">
        <!-----------------Content-Box-------------------->
        <article class="post zerogrid">
            <div class="row wrap-post">
                <!--Start Box-->
                <div class="entry-header">
                    <span class="time">June 8, 2016</span>
                    <h2 class="entry-title"><a href="#">RETRO GALLERY: FRAGMENTING PERSISTENT FLIGHT AND PATHOLOGY</a></h2>
                    <span class="cat-links"><a href="#">BUSINESS</a>, <a href="#">LIFESTYLE</a></span>
                </div>
                <div class="post-thumbnail-wrap">
                    <img src="/images/Style/1.jpg">
                </div>
                <div class="entry-content">
                    <p>Tenent mordicus. Et nemo nimium beatus est; Quorum altera prosunt, nocent altera. Sequitur disserendi ratio cognitioque naturae; Quod si ita se habeat, non possit beatam praestare vitam sapientia. Quamvis enim depravatae non sint, pravae tamen esse possunt. Nec vero alia sunt quaerenda contra Carneadeam illam sententiam. Scientiam pollicentur, quam non erat mirum sapientiae cupido patria esse cariorem. Pudebit te, inquam, illius tabulae, quam Cleanthes sane commode verbis depingere solebat. Ex eorum enim scriptis et institutis cum omnis doctrina liberalis, omnis historia. Duo Reges: constructio interrete….</p>
                    <a href="single.html">More Details</a>
                </div>
            </div>
        </article>
        <!-----------------Content-Box-------------------->
        <article class="post zerogrid">
            <div class="row wrap-post">
                <!--Start Box-->
                <div class="entry-header">
                    <span class="time">June 8, 2016</span>
                    <h2 class="entry-title"><a href="#">RETRO GALLERY: FRAGMENTING PERSISTENT FLIGHT AND PATHOLOGY</a></h2>
                    <span class="cat-links"><a href="#">BUSINESS</a>, <a href="#">LIFESTYLE</a></span>
                </div>
                <div class="post-thumbnail-wrap">
                    <img src="/images/Style/2.jpg">
                </div>
                <div class="entry-content">
                    <p>Tenent mordicus. Et nemo nimium beatus est; Quorum altera prosunt, nocent altera. Sequitur disserendi ratio cognitioque naturae; Quod si ita se habeat, non possit beatam praestare vitam sapientia. Quamvis enim depravatae non sint, pravae tamen esse possunt. Nec vero alia sunt quaerenda contra Carneadeam illam sententiam. Scientiam pollicentur, quam non erat mirum sapientiae cupido patria esse cariorem. Pudebit te, inquam, illius tabulae, quam Cleanthes sane commode verbis depingere solebat. Ex eorum enim scriptis et institutis cum omnis doctrina liberalis, omnis historia. Duo Reges: constructio interrete….</p>
                    <a href="single.html">More Details</a>
                </div>
            </div>
        </article>
        <!-----------------Content-Box-------------------->
        <article class="post zerogrid">
            <div class="row wrap-post">
                <!--Start Box-->
                <div class="entry-header">
                    <span class="time">June 8, 2016</span>
                    <h2 class="entry-title"><a href="#">RETRO GALLERY: FRAGMENTING PERSISTENT FLIGHT AND PATHOLOGY</a></h2>
                    <span class="cat-links"><a href="#">BUSINESS</a>, <a href="#">LIFESTYLE</a></span>
                </div>
                <div class="post-thumbnail-wrap">
                    <img src="/images/Style/3.jpg">
                </div>
                <div class="entry-content">
                    <p>Tenent mordicus. Et nemo nimium beatus est; Quorum altera prosunt, nocent altera. Sequitur disserendi ratio cognitioque naturae; Quod si ita se habeat, non possit beatam praestare vitam sapientia. Quamvis enim depravatae non sint, pravae tamen esse possunt. Nec vero alia sunt quaerenda contra Carneadeam illam sententiam. Scientiam pollicentur, quam non erat mirum sapientiae cupido patria esse cariorem. Pudebit te, inquam, illius tabulae, quam Cleanthes sane commode verbis depingere solebat. Ex eorum enim scriptis et institutis cum omnis doctrina liberalis, omnis historia. Duo Reges: constructio interrete….</p>
                    <a href="single.html">More Details</a>
                </div>
            </div>
        </article>

    </div>
</div>

@section Scripts {
    <script src="~/Scripts/App/home.js"></script>
}