@{
    ViewBag.Title = "Home";
}
<div class="wrap-body">
<div id='cssmenu' class="align-center">
    <ul>
        <li class="active"><a href='index.html'><span>Home</span></a></li>
        <li class=' has-sub'>
            <a href='#'><span>Blog</span></a>
            <ul>
                <li class='has-sub'>
                    <a href='#'><span>Item 1</span></a>
                    <ul>
                        <li><a href='#'><span>Sub Item</span></a></li>
                        <li class='last'><a href='#'><span>Sub Item</span></a></li>
                    </ul>
                </li>
                <li class='has-sub'>
                    <a href='#'><span>Item 2</span></a>
                    <ul>
                        <li><a href='#'><span>Sub Item</span></a></li>
                        <li class='last'><a href='#'><span>Sub Item</span></a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li><a href='single.html'><span>About</span></a></li>
        <li class='last'><a href='contact.html'><span>Contacts</span></a></li>
    </ul>
</div>
<header class="">
    <div class="logo">
        <a href="#"><img src="/images/Style/logo.png" /></a>
    </div>
    <div id="owl-slide" class="owl-carousel">
        <div class="item">
            <img src="/images/Style/slider-1.jpg" />
            <div class="carousel-caption">
                <div class="carousel-caption-inner">
                    <p class="carousel-caption-title"><a href="#">Why It’s Important To Struggle</a></p>
                    <p class="carousel-caption-category">
                        <a href="#" rel="category tag">Business</a>,
                        <a href="#" rel="category tag">Lifestyle</a>, <a href="#" rel="category tag">Pursuits</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="item">
            <img src="images/slider-2.jpg" />
            <div class="carousel-caption">
                <div class="carousel-caption-inner">
                    <p class="carousel-caption-title"><a href="#">Why It’s Important To Struggle</a></p>
                    <p class="carousel-caption-category">
                        <a href="#" rel="category tag">Business</a>,
                        <a href="#" rel="category tag">Lifestyle</a>, <a href="#" rel="category tag">Pursuits</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="item">
            <img src="images/slider-3.jpg" />
            <div class="carousel-caption">
                <div class="carousel-caption-inner">
                    <p class="carousel-caption-title"><a href="#">Why It’s Important To Struggle</a></p>
                    <p class="carousel-caption-category">
                        <a href="#" rel="category tag">Business</a>,
                        <a href="#" rel="category tag">Lifestyle</a>, <a href="#" rel="category tag">Pursuits</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="item">
            <img src="images/slider-4.jpg" />
            <div class="carousel-caption">
                <div class="carousel-caption-inner">
                    <p class="carousel-caption-title"><a href="#">Why It’s Important To Struggle</a></p>
                    <p class="carousel-caption-category">
                        <a href="#" rel="category tag">Business</a>,
                        <a href="#" rel="category tag">Lifestyle</a>, <a href="#" rel="category tag">Pursuits</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="item">
            <img src="images/slider-5.jpg" />
            <div class="carousel-caption">
                <div class="carousel-caption-inner">
                    <p class="carousel-caption-title"><a href="#">Why It’s Important To Struggle</a></p>
                    <p class="carousel-caption-category">
                        <a href="#" rel="category tag">Business</a>,
                        <a href="#" rel="category tag">Lifestyle</a>, <a href="#" rel="category tag">Pursuits</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="item">
            <img src="images/slider-6.jpg" />
            <div class="carousel-caption">
                <div class="carousel-caption-inner">
                    <p class="carousel-caption-title"><a href="#">Why It’s Important To Struggle</a></p>
                    <p class="carousel-caption-category">
                        <a href="#" rel="category tag">Business</a>,
                        <a href="#" rel="category tag">Lifestyle</a>, <a href="#" rel="category tag">Pursuits</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</header>
<!--////////////////////////////////////Container-->
<section id="container">
    <div class="wrap-container">
        <!-----------------Content-Box-------------------->
        <article class="post zerogrid">
            <div class="row wrap-post">
                <!--Start Box-->
                <div class="entry-header">
                    <span class="time">June 8, 2016</span>
                    <h2 class="entry-title"><a href="#">RETRO GALLERY: FRAGMENTING PERSISTENT FLIGHT AND PATHOLOGY</a></h2>
                    <span class="cat-links"><a href="#">BUSINESS</a>, <a href="#">LIFESTYLE</a></span>
                </div>
                <div class="post-thumbnail-wrap">
                    <img src="images/1.jpg">
                </div>
                <div class="entry-content">
                    <p>Tenent mordicus. Et nemo nimium beatus est; Quorum altera prosunt, nocent altera. Sequitur disserendi ratio cognitioque naturae; Quod si ita se habeat, non possit beatam praestare vitam sapientia. Quamvis enim depravatae non sint, pravae tamen esse possunt. Nec vero alia sunt quaerenda contra Carneadeam illam sententiam. Scientiam pollicentur, quam non erat mirum sapientiae cupido patria esse cariorem. Pudebit te, inquam, illius tabulae, quam Cleanthes sane commode verbis depingere solebat. Ex eorum enim scriptis et institutis cum omnis doctrina liberalis, omnis historia. Duo Reges: constructio interrete….</p>
                    <a href="single.html">More Details</a>
                </div>
            </div>
        </article>
        <!-----------------Content-Box-------------------->
        <article class="post zerogrid">
            <div class="row wrap-post">
                <!--Start Box-->
                <div class="entry-header">
                    <span class="time">June 8, 2016</span>
                    <h2 class="entry-title"><a href="#">RETRO GALLERY: FRAGMENTING PERSISTENT FLIGHT AND PATHOLOGY</a></h2>
                    <span class="cat-links"><a href="#">BUSINESS</a>, <a href="#">LIFESTYLE</a></span>
                </div>
                <div class="post-thumbnail-wrap">
                    <img src="images/2.jpg">
                </div>
                <div class="entry-content">
                    <p>Tenent mordicus. Et nemo nimium beatus est; Quorum altera prosunt, nocent altera. Sequitur disserendi ratio cognitioque naturae; Quod si ita se habeat, non possit beatam praestare vitam sapientia. Quamvis enim depravatae non sint, pravae tamen esse possunt. Nec vero alia sunt quaerenda contra Carneadeam illam sententiam. Scientiam pollicentur, quam non erat mirum sapientiae cupido patria esse cariorem. Pudebit te, inquam, illius tabulae, quam Cleanthes sane commode verbis depingere solebat. Ex eorum enim scriptis et institutis cum omnis doctrina liberalis, omnis historia. Duo Reges: constructio interrete….</p>
                    <a href="single.html">More Details</a>
                </div>
            </div>
        </article>
        <!-----------------Content-Box-------------------->
        <article class="post zerogrid">
            <div class="row wrap-post">
                <!--Start Box-->
                <div class="entry-header">
                    <span class="time">June 8, 2016</span>
                    <h2 class="entry-title"><a href="#">RETRO GALLERY: FRAGMENTING PERSISTENT FLIGHT AND PATHOLOGY</a></h2>
                    <span class="cat-links"><a href="#">BUSINESS</a>, <a href="#">LIFESTYLE</a></span>
                </div>
                <div class="post-thumbnail-wrap">
                    <img src="images/3.jpg">
                </div>
                <div class="entry-content">
                    <p>Tenent mordicus. Et nemo nimium beatus est; Quorum altera prosunt, nocent altera. Sequitur disserendi ratio cognitioque naturae; Quod si ita se habeat, non possit beatam praestare vitam sapientia. Quamvis enim depravatae non sint, pravae tamen esse possunt. Nec vero alia sunt quaerenda contra Carneadeam illam sententiam. Scientiam pollicentur, quam non erat mirum sapientiae cupido patria esse cariorem. Pudebit te, inquam, illius tabulae, quam Cleanthes sane commode verbis depingere solebat. Ex eorum enim scriptis et institutis cum omnis doctrina liberalis, omnis historia. Duo Reges: constructio interrete….</p>
                    <a href="single.html">More Details</a>
                </div>
            </div>
        </article>

    </div>
</section>
<!--////////////////////////////////////Footer-->
<footer>
    <div class="zerogrid wrap-footer">
        <div class="row">
            <div class="col-1-3 col-footer-1">
                <div class="wrap-col">
                    <h3>About</h3>
                    <a href="index.html"><img src="images/avatar.jpg" /></a>
                    <p>Ut volutpat consectetur aliquam. Curabitur auctor in nis ulum ornare. Sed consequat, augue condimentum fermentum gravida, metus elit vehicula dui.</p>
                </div>
            </div>
            <div class="col-1-3 col-footer-2">
                <div class="wrap-col">
                    <h3>Categories</h3>
                    <ul>
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Romantic</a></li>
                        <li><a href="#">Cartoon</a></li>
                        <li><a href="#">Zombies</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-1-3 col-footer-3">
                <div class="wrap-col">
                    <h3>Location</h3>
                    <div class="wrap-map"></div>
                </div>
            </div>

        </div>
    </div>
    <div class="zerogrid copyright">
        <div class="wrapper">
            <ul class="quick-link f-right">
                <li><a href="#">Privacy Policy</a></li>
                <li><a href="#">Terms of Use</a></li>
            </ul>
        </div>
    </div>
</footer>
<!-- carousel -->
    
</div>
<script>
    $(document).ready(function() {
        $("#owl-slide").owlCarousel({
            autoPlay: 3000,
            items : 2,
            itemsDesktop : [1199,2],
            itemsDesktopSmall : [979,1],
            itemsTablet : [768, 1],
            itemsMobile : [479, 1],
            navigation: true,
            navigationText: ['<i class="fa fa-chevron-left fa-5x"></i>', '<i class="fa fa-chevron-right fa-5x"></i>'],
            pagination: false
        });
    });
</script>